
<div class="center-image">
    <img src="/mfa/qr" alt="Enrol MFA"/>
</div>
<p style="margin-top: 16px;">
    Open your authenticator app, and scan the QR Code above.
    Enter the MFA code provided and click "Enrol MFA" to complete enrolment.
</p>
<div class="mfa_container">
    <input type="text" name="mfa_code" id="mfa_code" required maxlength="6" minlength="6"
           pattern="[0-9]{6}" inputmode="numeric" autocomplete="one-time-code"
           class="input_bg input_mfa_single" autofocus
           oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
</div>

<div>
    <input type="submit" value="Enrol MFA" data-lang="enrol_mfa" class="button button-continue"/>
</div>
