<div data-lang="enter_2fa">
    Enter the code from your authenticator
</div>
<div>
    <input type="hidden" name="form_state" id="form_state" maxlength="255" value="submit_mfa"/>

    <div class="mfa_container">
        <input type="text" name="mfa_code" id="mfa_code" required maxlength="6" minlength="6"
               pattern="[0-9]{6}" inputmode="numeric" autocomplete="one-time-code"
               class="input_bg input_mfa_single" autofocus
               oninput="this.value=this.value.replace(/[^0-9]/g,'')" />
    </div>

    <div>
        <input type="submit" value="Log in" data-lang="log_in" class="button button-continue"/>
    </div>
    <div>
        <div class="button button-back" onclick="history.back()"><i class="fa-duotone fa-arrow-left"></i> Back</div>
    </div>
</div>
