<div data-lang="enter_2fa">
    Enter the code from your authenticator
</div>
<div>
    <input type="hidden" name="form_state" id="form_state" maxlength="255" value="submit_mfa"/>
    <input type="hidden" name="email_address" id="email_address" maxlength="255" value="$$EMAIL_ADDRESS$$"/>
    <input type="hidden" name="current-password" id="current-password" maxlength="255" value="$$PASSWORD$$"/>

    <div class="mfa_container">
        <input type="text" name="mfa_1" id="mfa_1" required maxlength="1" data-lang="enter_2fa" class="input_bg input_mfa" onkeyup="setFocus('mfa_2')" onfocus="this.value=''" autofocus />
        <input type="text" name="mfa_2" id="mfa_2" required maxlength="1" data-lang="enter_2fa" class="input_bg input_mfa" onkeyup="setFocus('mfa_3')" onfocus="this.value=''" />
        <input type="text" name="mfa_3" id="mfa_3" required maxlength="1" data-lang="enter_2fa" class="input_bg input_mfa" onkeyup="setFocus('mfa_4')" onfocus="this.value=''" />
        <input type="text" name="mfa_4" id="mfa_4" required maxlength="1" data-lang="enter_2fa" class="input_bg input_mfa" onkeyup="setFocus('mfa_5')" onfocus="this.value=''" />
        <input type="text" name="mfa_5" id="mfa_5" required maxlength="1" data-lang="enter_2fa" class="input_bg input_mfa" onkeyup="setFocus('mfa_6')" onfocus="this.value=''" />
        <input type="text" name="mfa_6" id="mfa_6" required maxlength="1" data-lang="enter_2fa" class="input_bg input_mfa" onfocus="this.value=''" />
    </div>

    <div>
        <input type="submit" value="Log in" data-lang="log_in" class="button button-continue" onclick="if (form.checkValidity()) {this.form.submit();}"/>
    </div>
    <div>
        <div class="button button-back" onclick="history.back()"><i class="fa-duotone fa-arrow-left"></i> Back</div>
    </div>

    <script>
        function setFocus(id) {
            const el = document.getElementById(id)
            if (el) {
                el.focus();
            }
        }
    </script>
</div>