<div data-lang="enter_password">
    Please enter your password to continue logging in
</div>
<div>
    <input type="hidden" name="form_state" id="form_state" maxlength="255" value="submit_password"/>
    <input type="password" name="current-password" id="current-password" required maxlength="255" data-lang="enter_password" placeholder="Enter your password..." class="input_bg" autofocus/>
    <a class="password-reset-link" onclick="document.getElementById('form_state').value='forgot_password'; document.getElementById('current-password').required=false; document.getElementById('form').submit();">Reset your password?</a>
    <div class="error">
        Your email address or password was invalid
    </div>
    <div>
        <input type="submit" value="Log in" data-lang="log_in" class="button button-continue" onclick="if (form.checkValidity()) {this.form.submit();}"/>
    </div>
    <div>
        <div class="button button-back" onclick="history.back()"><i class="fa-duotone fa-arrow-left"></i> Back</div>
    </div>
</div>