<div data-lang="continue_creating_title" class="continue_creating_title">
    It doesn't look like you have an account yet
</div>
<div data-lang="continue_creating" class="continue_creating">
    Click below to continue setting up your account. You will be
    emailed instructions for setting your password.
</div>
<div>
    <input type="hidden" name="form_state" id="form_state" maxlength="255" value="register"/>
    <input type="hidden" name="email_address" id="email_address" maxlength="255" value="$$EMAIL_ADDRESS$$"/>
    <div>
        <input type="submit" value="Create account" data-lang="create_account" class="button button-continue" onclick="this.form.submit();"/>
    </div>
    <div>
        <div class="button button-back" onclick="history.back()"><i class="fa-duotone fa-arrow-left"></i> Back</div>
    </div>
</div>