<div>
    Set a password for <span class="strong">$$USER$$</span>
</div>
<div>
    <input type="hidden" name="form_state" id="form_state" maxlength="255" value="set_new_password"/>
    <input type="hidden" id="account" name="account" maxlength="255" value="$$ACCOUNT$$"/>
    <input type="hidden" id="token" name="token" maxlength="255" value="$$TOKEN$$"/>
    <input type="hidden" id="email_address" name="email_address" maxlength="255" value="$$USER$$"/>
    <input type="password" name="new-password" id="new-password" required maxlength="255" data-lang="enter_password" placeholder="Enter password..." class="input_bg" oninput="updateValidParameters()" autofocus/>
    <div>
        <p>Your new password must meet these requirements:</p>
        <p id="valid_length" class="invalid" data-lang="valid_length">At least 8 characters long</p>
        <p id="valid_upper" class="invalid" data-lang="valid_upper">Contains at least 1 Uppercase Character</p>
        <p id="valid_lower" class="invalid" data-lang="valid_lower">Contains at least 1 Lowercase Character</p>
        <p id="valid_number" class="invalid" data-lang="valid_number">Contains at least 1 Number</p>
    </div>
    <div>
        <input type="button" value="Set Password" class="button button-continue" onclick="if (form.checkValidity()) { if (isValid()) {this.form.submit();}}"/>
    </div>
</div>
<script>
    function isValidLength(value) {
        return value.length >= 8;
    }

    function isValidUpperCase(value) {
        return /[A-Z]/.test(value);
    }

    function isValidLowerCase(value) {
        return /[a-z]/.test(value);
    }

    function isValidNumber(value) {
        return /[0-9]/.test(value);
    }

    function isValid() {
        const password = document.getElementById("new-password");
        if (password) {
            const value = password.value;
            return isValidLength(value) &&
                isValidUpperCase(value) &&
                isValidLowerCase(value) &&
                isValidNumber(value);
        }

        return false;
    }

    function updateValidParameters() {
        const password = document.getElementById("new-password");

        if (password) {
            const value = password.value;

            if (isValidLength(value)) {
                const field = document.getElementById("valid_length")
                field.classList.add("valid");
                field.classList.remove("invalid");
            } else {
                const field = document.getElementById("valid_length")
                field.classList.remove("valid");
                field.classList.add("invalid");
            }

            if (isValidUpperCase(value)) {
                const field = document.getElementById("valid_upper")
                field.classList.add("valid");
                field.classList.remove("invalid");
            } else {
                const field = document.getElementById("valid_upper")
                field.classList.remove("valid");
                field.classList.add("invalid");
            }

            if (isValidLowerCase(value)) {
                const field = document.getElementById("valid_lower")
                field.classList.add("valid");
                field.classList.remove("invalid");
            } else {
                const field = document.getElementById("valid_lower")
                field.classList.remove("valid");
                field.classList.add("invalid");
            }

            if (isValidNumber(value)) {
                const field = document.getElementById("valid_number")
                field.classList.add("valid");
                field.classList.remove("invalid");
            } else {
                const field = document.getElementById("valid_number")
                field.classList.remove("valid");
                field.classList.add("invalid");
            }
        }
    }
</script>